
@{
    ViewBag.Title = "Menu";
}

<div class="container">
    <h1>Nosso Menu</h1>
    <ul class="list-group">
        <li class="list-group-item">Café Expresso - R$10,00</li>
        <li class="list-group-item">Café Latte - R$12,00</li>
        <li class="list-group-item">Cappuccino - R$14,00</li>
        <li class="list-group-item">Bolo de Cenoura - R$8,00</li>
        <li class="list-group-item">Cookies de Chocolate - R$5,00</li>
    </ul>
    <a href="@Url.Action("Contato", "Cafe")" class="btn btn-primary mt-3">Encomendar Agora</a>
</div>