
@{
    ViewBag.Title = "Sobre Nós";
}

<div class="container">
    <h1>Sobre o Café Gourmet Delivery</h1>
    <p>Nosso café é preparado com os melhores grãos selecionados para proporcionar uma experiência única.</p>
    <p>Entregamos diretamente na sua casa com todo o carinho e sabor que você merece.</p>
</div>
